services:
  ssl-checker:
    build: ./ssl-checker
    container_name: ssl-checker
    ports:
      - "8000:8000"
    networks:
      - ssl-network
    
  ssl-monitor:
    build: ./ssl-monitor
    container_name: ssl-monitor
    ports:
      - "8001:8001"
    environment:
      - SSL_CHECKER_URL=http://ssl-checker:8000
      - DATABASE_URL=sqlite:///./ssl_monitor.db
      - ASYNC_DATABASE_URL=sqlite+aiosqlite:///./ssl_monitor.db
    networks:
      - ssl-network
    volumes:
      # Persist the database
      - ssl-monitor-data:/app/api

networks:
  ssl-network:
    driver: bridge

volumes:
  ssl-monitor-data:
