fastapi==0.115.4
uvicorn[standard]==0.32.0
requests==2.32.3
sqlalchemy==2.0.36
alembic==1.13.1
passlib==1.7.4
bcrypt==4.1.2
fastapi-users[sqlalchemy]==13.0.0
python-jose[cryptography]==3.3.0
aiosmtplib==3.0.2
aiosqlite==0.21.0
